{%extends "regapp/base.html"%}
{%block body%}
{%load static%}
<img src="{%static 'res.jpg'%}"  style=" display: block;
  margin-left: auto;
  margin-right: auto;
  width:80%">
  <div class="card mb-3" style=" width: 80%;margin: 0 auto;padding: 20px;font-family: 'Pacifico', cursive;">
  	<p>WHO is convening a global research and innovation forum to mobilize international action in response to the new coronavirus (2019-nCoV). 
</p>
<p>"Harnessing the power of science is critical for bringing this outbreak under control," said WHO Director-General Dr Tedros Adhanom Ghebreyesus. “There are questions we need answers to, and tools we need developed as quickly as possible. WHO is playing an important coordinating role by bringing the scientific community together to identify research priorities and accelerate progress.”

The forum, to be held 11-12 February in Geneva, is organized in collaboration with the Global Research Collaboration for Infectious Disease Preparedness.</p>

<p>The forum will bring together key players including leading scientists as well as public health agencies, ministries of health and research funders pursuing 2019-nCoV critical animal health and public health research and the development of vaccines, therapeutics and diagnostics, among other innovations. 

Participants will discuss several areas of research, including identifying the source of the virus as well as sharing of biological samples and genetic sequences.
 </p>
  </div>
  <div class="card mb-3" style=" width: 80%;margin: 0 auto;padding: 20px;font-family: 'Pacifico', cursive;">
  	<p>The meeting is expected to produce a global research agenda for the new coronavirus, setting priorities and frameworks that can guide which projects are undertaken first. “Understanding the disease, its reservoirs, transmission and clinical severity and then developing effective counter-measures is critical for the control of the outbreak, to reduce deaths and minimize the economic impact,” said Dr. Soumya Swaminathan, WHO Chief Scientist.

This will also fast-track the development and evaluation of effective diagnostic tests, vaccines and medicines, while establishing mechanisms for affordable access to vulnerable populations and facilitating community engagement.</p>

<p>“The WHO R&D Blueprint is a global strategy and preparedness platform that drives coordinated development of drugs and vaccines before epidemics, and allows the rapid activation of R&D activities during epidemics. It speeds up the availability of the diagnostics, vaccines and treatments and technologies that ultimately save lives,” added Dr Michael Ryan, Executive Director, WHO Health Emergencies Programme.  

Setting clear global research priorities for the novel coronavirus should lead to more efficient investments, high-quality research and synergies among global researchers.
  </p>	
  </div>
<footer style="margin-top:5px;
  margin-left:0;
  margin-right:0;
  background:white;
  text-align:center;
  padding-bottom:20px;
  padding-top:20px;
  max-width:100%;font-family: 'Pacifico';background-color: #f8f9fa!important">
<strong>&copy;MDSK 2020</strong>
</footer>
{% endblock %}
