{%extends "regapp/base.html"%}
{%block body%}
{%load static%}
<div style=" width: 80%;margin: 0 auto;padding: 20px;font-family: 'Pacifico', cursive;">
<div class="card mb-3" style="max-width: 900px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <a href="https://www.amazon.in/Xtore-Pollution-Military-Quality-Breathing/dp/B07NCMDTYB/ref=asc_df_B07NCMDTYB/?tag=googleshopdes-21&linkCode=df0&hvadid=397008627553&hvpos=1o3&hvnetw=g&hvrand=12699523011984203650&hvpone=&hvptwo=&hvqmt=&hvdev=c&hvdvcmdl=&hvlocint=&hvlocphy=9062134&hvtargid=pla-839172899430&psc=1&ext_vrnc=hi"><img src="{%static 'shop.jpg'%}" class="card-img" alt="..."></a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h3 class="card-title">Virus Protection Mask</h3>
        <p class="card-text">Click on the Image to Buy Virus Protection Mask</p>
      </div>
    </div>
  </div>
</div>
</div>
<footer style="margin-top:5px;
  margin-left:0;
  margin-right:0;
  background:white;
  text-align:center;
  padding-bottom:20px;
  padding-top:20px;
   position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: black;
  text-align: center;
  max-width:100%;font-family: 'Pacifico';background-color: #f8f9fa!important">
<strong>&copy;MDSK 2020</strong>
</footer>
{%endblock%}