{%extends "regapp/base.html"%}
{%block body%}
{%load static%}

<img src="{%static 'mask.jpg'%}" height="600px" class="card-img" alt="..." style="margin: 0 auto;text-align: center;">
<div style=" width: 80%;margin: 0 auto;padding: 20px;font-family: 'Pacifico', cursive;">
 
<div class="card mb-3" style="max-width: 3000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{%static 'fever.jpg'%}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">Fever</h1>
        
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 3000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{%static 'headche.jpg'%}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">Headache</h1>
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 3000px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{%static 'breathe.jpg'%}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">Difficulty in Breathing</h1>
        
      </div>
    </div>
  </div>
</div>
<div class="card mb-3" style="max-width: 2500px;">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="{%static 'pnemo.jpg'%}" class="card-img" alt="...">
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h1 class="card-title">Pneumonia</h1>
        
      </div>
    </div>
  </div>
</div>
</div>
<footer style="margin-top:5px;
  margin-left:0;
  margin-right:0;
  background:white;
  text-align:center;
  padding-bottom:20px;
  padding-top:20px;
    position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: black;
  text-align: center;
  max-width:100%;font-family: 'Pacifico';background-color: #f8f9fa!important">
<strong>&copy;MDSK 2020</strong>
</footer>
{%endblock%}